<form id="formReservation"{{action "saveModel" on="submit"}}>
  <h3>Group</h3>
  <select onchange={{action "selectStudentGroup" value="target.value"}}>
    <option selected disabled>Choose your studentgroup</option>
    {{#each studentgroups as |studentgroup|}}
      <option value="{{studentgroup.id}}">{{studentgroup.groupName}}</option>
    {{/each}}
  </select>
  <h3>Date</h3>

{{input type="date" value=model.day id='date' placeholder="Choose date" min=minDate max=maxDate required=true}}
  <br>
  <h3>Time</h3>
  <h4>Start hour</h4>
{{input type="number" list="lesuur" value=model.startHour placeholder="Choose hour" min=1 max=model.endHour
        required=true}}
  <h4>End hour</h4>
{{input type="number" list="lesuur" value=model.endHour placeholder="Choose hour" min=model.startHour max=16
        required=true}}
  <br>
  <h3>Location</h3>
  <h4>Building</h4>
{{input type="text" list="gebouw" value=model.building placeholder="Choose building" required=true}}
  <h4>Classroom</h4>
  <select name="classroom" required onchange={{action "selectClassroom" value="target.value"}}>
    <option selected disabled>Choose your classroom</option>
    {{#each classrooms as |classroom|}}
      <option value="{{classroom.id}}">{{classroom.roomNumber}} </option>
    {{/each}}
  </select>
  <h4>Reservation name</h4>
{{input type="text" value=model.label placeholder="Example: Project meeting" required=true}}
  <br>
{{#link-to "index"}}
    <button>Cancel</button>{{/link-to}}
  <button type="submit" value="submit">Save reservation</button>
</form>

