<div class="route-reservations">
  <h1>Reservations</h1>
  <ul>
    {{#each model as |reservation|}}
      <li>Start: {{reservation.startHour}}, End: {{reservation.endHour}} - Building: {{reservation.building}}, Room: {{reservation.floor}}.{{reservation.roomNumber}}</li>
    {{/each}}
  </ul>
  {{#link-to "reservations.new"}}<button>New Reservation</button>{{/link-to}}
</div>