{{ main-header }}
<main class="view view__new-reservation">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="top-bar top-bar__text-only">
          <h1>Reserveren</h1>
        </div>
      </div>
    </div>
    <form id="formReservation"{{action "saveModel" on="submit"}}>
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="grid-block">
            <div class="form-group">
              <label for="date">Datum</label>
              {{ember-flatpickr
                onChange=(action (mut dateValue))
                class="default-input default-input--border date-picker icon-arrow"
                placeholder="Selecteer datum"
                value=model.day
                id="date"
                required="true"
                maxDate=maxDate
                minDate=minDate
                locale='nl'
                dateFormat='D M Y'
                disableMobile=false
              }}
            </div>
            <div class="form-group">
              <label for="date">Start tijd</label>
              <div class="default-select-box">
                <select name="startHour" required onchange={{action "selectStartHour" value=model.startHour}}>
                  <option selected disabled>Selecteer start tijd</option>
                  <option value="1">08:30 - 09:15</option>
                  <option value="2">08:30 - 09:15</option>
                  <option value="3">08:30 - 09:15</option>
                  <option value="4">08:30 - 09:15</option>
                  <option value="5">08:30 - 09:15</option>
                  <option value="6">08:30 - 09:15</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="date">Eind tijd</label>
              <div class="default-select-box">
                <select name="startHour" required onchange={{action "selectEndHour" value=model.endHour}}>
                  <option selected disabled>Selecteer eind tijd</option>
                  <option value="1">08:30 - 09:15</option>
                  <option value="2">08:30 - 09:15</option>
                  <option value="3">08:30 - 09:15</option>
                  <option value="4">08:30 - 09:15</option>
                  <option value="5">08:30 - 09:15</option>
                  <option value="6">08:30 - 09:15</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="grid-block
            grid-block--disabled">
            <div class="form-group">
              <label for="date">Locatie</label>
              <div class="default-select-box">
                <select name="building" required onchange={{action "selectBuilding" value=model.building}}>
                  <option selected disabled>Selecteer locatie</option>
                  <option value="Epy Drost">Epy Drost</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="date">Verdieping</label>
              <div class="default-select-box">
                <select name="floor" required>
                  <option selected disabled>Selecteer verdieping</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="date">Lokaal</label>
              <div class="default-select-box">
                <select name="classroom" required onchange={{action "selectClassroom" value="target.value"}}>
                  <option selected disabled>Selecteer locatie</option>
                  {{#each classrooms as |classroom|}}
                    <option value="{{classroom.id}}">{{classroom.roomNumber}}</option>
                  {{/each}}
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="date">Groep</label>
              <div class="default-select-box">
                <select onchange={{action "selectStudentGroup" value="target.value"}}>
                  <option selected disabled>Selecteer jouw groep</option>
                  {{#each studentgroups as |studentgroup|}}
                    <option value="{{studentgroup.id}}">{{studentgroup.groupName}}</option>
                  {{/each}}
                </select>
              </div>
            </div>
            <button type="submit" class="btn btn--green">Reserveren</button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="grid-block margin-top">
            <div class="grid-block__title">Beschikbare lokalen voor deze tijd</div>
          </div>
        </div>
      </div>
    </form>
  </div>
</main>
