<main class="view view__studentgroups">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="top-bar">
          <h1>{{model.groupName}} bewerken</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="grid-block">
          <div class="grid-block__title">Studenten in groep</div>
          <div class="reservations-block">
            {{#each model.memberships as |membership|}}
              <div class="reservation">
                <div class="reservation__date">
                  <i class="icon-user"></i>
                  {{membership.user.username}}
                </div>
              </div>
            {{else}}
              Geen studenten gevonden
            {{/each}}
            {{#list-filter
              filter=(action "filterByStudent")
            as |filteredResults|
            }}
              <ul class="results">
                {{#each
                  filteredResults
                as |extended-user|
                }}
                  <li {{action "addStudent" extended-user}}>{{extended-user.username}}</li>
                {{/each}}
              </ul>
            {{/list-filter}}
            <button name="terug"  class="btn btn--gray"{{action "goBack"}}>Terug</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
