<main class="view view__studentgroups">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="top-bar">
          <h1>{{model.groupName}} bewerken</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="grid-block">
          <div class="grid-block__title">Studenten in groep</div>
          <div class="reservations-block">
            {{#each model.memberships as |membership|}}
              <div class="reservation">
                <div class="reservation__date">
                  <i class="icon-user"></i>
                  {{membership.user.username}}
                  <i class="icon-delete groupmember--delete" {{action "removeStudent" membership}}></i>
                </div>
              </div>
            {{else}}
              Geen studenten in de groep
            {{/each}}
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="grid-block">
          {{#list-filter filter=(action "filterByStudent") as |filteredResults|}}
            <div class="reservations-block">
              {{#each filteredResults as |student|}}
                <div class="reservation">
                  <div class="reservation__date">
                    <i class="icon-user"></i>
                    {{student.username}}
                    <span class="groupmember--add" {{action "addStudent" student}}>+</span>
                  </div>
                </div>
              {{/each}}
              <button name="terug" class="btn btn--gray"{{action "goBack"}}>Terug</button>
            </div>
          {{/list-filter}}
        </div>
      </div>
    </div>
  </div>
</main>
