<form {{action "saveModel" on="submit"}}>
  <tr>
    <th>
      Studentgroup
      <br>
      {{input
        type="text"
        value=model.groupName
        required=true
        placeholder="Example: projectgroup"
      }}
    </th>
    <th>
      Hours
      <br>
      {{input
        type="number"
        value=model.reservableHours
        required=true
        placeholder="Example: 10"
        min="1"
      }}
    </th>
  </tr>
  <br>
 <button value="cancel" {{action "cancelModel"}}>Terug</button>
 <button type="submit" value="submit" {{action "saveModel"}}>Opslaan</button>
</form>
