<form {{action "saveModel" on="submit"}}>
  <div class="form-group">
    <label for="name">Groepsnaam</label>
    {{input
      id="name"
      type="text"
      value=model.groupName
      required=true
      class="default-input default-input--border"
    }}
  </div>
  <div class="form-group">
    <label for="">Maximaal aantal uur</label>
    {{input
      type="number"
      value=model.reservableHours
      required=true
      class="default-input default-input--border"
      min="1"
    }}
  </div>
  <button value="cancel" {{action "cancelModel"}} class="btn btn--gray">Terug</button>
  <button
    type="submit"
    value="submit"
    class="btn btn--green"
    {{action "saveModel"}}>
    Opslaan
  </button>
</form>
