<div class="route-studentgroups">


  {{#if model.studentgroup}}
    <h1>{{model.studentgroup.groupName}} </h1>
  {{else}}
    <h1>{{model.groupName}} </h1>
  {{/if}}

  <h2>Studenten:</h2>
  <ul>
    {{#each model.memberships as |membership|}}
      <!-- show students in group-->
      <li>{{has-group-id model.students userID=membership.userId}}</li>
    {{else}}
      geen studenten gevonden
    {{/each}}
  </ul>

  {{#link-to "studentgroups.index"}}<button>Terug</button>{{/link-to}}
  {{#link-to "studentgroups.edit"}}<button>Edit</button>{{/link-to}}


</div>
