<h1>Registreer hier</h1>
<form>
  <p>Studentnummer</p>
  {{input value=studentnummer type="number"}}
  <p>Naam</p>
  {{input value=naam}}
  <p>Wachtwoord</p>
  {{input value=password type="password"}}
  <p>Wachtwoord (herhaling)</p>
  {{input value=password2 type="password"}}
  <button type="submit" value="submit" {{action "signUp" studentnummer naam password password2}}>Registreren</button>
</form>