<h1>Registreer hier</h1>
<form>
  <p>Studentnummer</p>
  {{input value=model.studentNumber type="number"}}
  <p>Naam</p>
  {{input value=model.name}}
  <p>Wachtwoord</p>
  {{input value=model.password type="password"}}
  <p>Wachtwoord (herhaling)</p>
  {{input value=passwordCheck type="password"}}
  <button type="submit" value="submit" {{action "signUp"}}>Registreren</button>
</form>