<main class="view view__classrooms">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="top-bar">
          <h1>Lokalen</h1>
          {{#if (has-role "admin")}}
            {{#link-to "classrooms.new" class="btn btn--green"}}Toevoegen{{/link-to}}
          {{/if}}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="grid-block">
          <table class="classrooms-block classrooms-table">
            <tr>
              <th>Lokaal</th>
              <th>Gebouw</th>
              <th>Type</th>
              <th>Faciliteiten</th>
              <th>Capaciteit</th>
            </tr>
            {{#each model as |classroom|}}
              <tr class="classroom">
                <td class="classroom__room">
                  {{#link-to 'classrooms.show' classroom}}{{classroom.roomNumber}}{{/link-to}}
                </td>
                <td class="classroom__building">
                  <i class="icon-location"></i>{{classroom.building}}
                </td>
                <td class="classroom__type">
                  {{classroom.mainClassroomType}} {{classroom.kind}}
                </td>
                <td class="classroom__facilities">
                  {{classroom.type}}
                </td>
                <td class="classroom__capacity">
                  {{classroom.capacity}} personen
                </td>
              </tr>
            {{else}}
              <div>Geen lokalen gevonden</div>
            {{/each}}
          </table>
        </div>
      </div>
    </div>
  </div>
</main>
