<div class="route-classrooms">
  <form>
  <input>
    <h1>Datum</h1>
    <form>
      <input type="date" name="schedule">
      <input type="submit" value="Kies datum">
    </form>
    <br>
    <br>
    <h1>{{get-date}}</h1>

    <h1>Tijd</h1>

    {{input type="checkbox" id= "1"}} 1e lesuur (8:30 - 9:15) <br>
    {{input type="checkbox" id= "2"}} 2e lesuur (9:15 - 10:00) <br>
    {{input type="checkbox" id= "3"}} 3e lesuur (10:15 - 11:00)<br>
    {{input type="checkbox" id= "4"}} 4e lesuur (11:00 - 11:45)<br>
    {{input type="checkbox" id= "5"}} 5e lesuur (11:45 - 12:30)<br>
    {{input type="checkbox" id= "6"}} 6e lesuur (12:30 - 13:15)<br>
    {{input type="checkbox" id= "7"}} 7e lesuur (13:15 - 14:00)<br>
    {{input type="checkbox" id= "8"}} 8e lesuur (14:00 - 14:45)<br>
    {{input type="checkbox" id= "9"}} 9e lesuur (15:00 - 15:45)<br>
    {{input type="checkbox" id= "10"}} 10e lesuur (15:45 - 16:30)<br>
    {{input type="checkbox"id= "11"}} 11e lesuur (16:30 - 17:15)<br>
    {{input type="checkbox" id= "12"}} 12e lesuur (17:15 - 18:00)<br>
    {{input type="checkbox" id= "13"}} 13e lesuur (18:15 - 19:00)<br>
    {{input type="checkbox" id= "14"}} 14e lesuur (19:00 - 19:45)<br>
    {{input type="checkbox" id= "15"}} 15e lesuur (20:00 - 20:45)<br>
    {{input type="checkbox" id= "16"}} 16e lesuur (20:45 - 21:30)<br>
  <button type="submit" {{action "setAvailability"}}>Zet beschikbaarheid</button>
  </form>
</div>